html{
    background-color: hsl(34, 78%, 91%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; 
}

body{
    padding: 150px;
    padding-top: 5px;
    border: solid black;
    border-width: 15px;
}

h3{
    text-decoration: underline black;
    margin: -10px;
    padding: 10px;
}

li{
    margin: 5px;
    padding: 5px;
}

.titulo{
    text-decoration: underline black;
}

.foto{
    width: 350px;
    height: 380px;
    border: solid black ;
    border-width: 3px;
}
.derecha{
    position: relative;
    left: 50px;    
}
h2{
    font-size: 30px;
}
h1{
    font-size: 40px;
}
.iconos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.whatsapp{
    position: relative;
    top: -1.5rem;
}
