body{
    background: rgb(255, 255, 255);
    margin: 0%;
    font-size: 16px;
}

.imagen-logo{
    height: 90px;
}

.cont-inicio{
    display: flex;
    background-color:#FFDF3E!important;
    gap: 1.87em;
    width: 100%;
    height: 7.5em;
    font-size: 1.87em;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid black 5px;    
}

.contenedor-enlaces{
    display: flex;
    flex-wrap: wrap;
}

.borde-blanco{
    border-top: white solid 15px;
}

.enlances{
    color: black;
    flex-direction: initial;
    border-left: solid #FFDF3E 4.37rem;
}

header{
    padding-top: 3.12rem;
    padding-right: 1.87rem;
    padding-bottom: 3.75rem;
    padding-left: 9.37rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10mm;
    background: rgb(255, 223, 62);
}

.Header-sofware{
    padding-top: 6.25em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.queOfrecemos1{
    padding-top: 6.25em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Objetivo{  
    font-family: Arial, Helvetica, sans-serif;
    width: 25%;
    padding-left: 1.25em;
    font-size: 1.18em; 
    display: flex;
    flex-wrap: wrap;
}

.Desarrollos{
    font-family: Arial, Helvetica, sans-serif;
    width: 25%;
    padding-left: 1.25em;
    font-size: 1.18em;
    display: flex;
    flex-wrap: wrap;
}

.queOfrecemos2{
    padding-top: 6.25em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Metodología{
    font-family: Arial, Helvetica, sans-serif;
    width: 25%;
    padding-left: 1.25em;
    font-size: 1.18em;
    display: flex;
    flex-wrap: wrap;
}

.Mantenimiento{
    font-family: Arial, Helvetica, sans-serif;
    width: 25%;
    padding-left: 1.25em;
    font-size: 1.18em;
    display: flex;
    flex-wrap: wrap;
}

.Header-agencia{
    padding-top: 6.25em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.nuestrosProductos1{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding-top: 6.25em;
}

.Apps{
    font-family: Arial, Helvetica, sans-serif;
    width: 25%;
    padding-left: 0.62em;
    font-size: 1.06rem;
    background-color: rgb(233, 233, 233);
    border-radius: 0.62em;
} 

.SitioWeb{
    font-family: Arial, Helvetica, sans-serif;
    width: 25%;
    padding-left: 0.62em;
    font-size: 1.06rem;
    background-color: rgb(233, 233, 233);
    border-radius: 0.62em;
}

.E-Commerce{
    font-family: Arial, Helvetica, sans-serif;
    width: 25%;
    padding-left: 0.62em;
    font-size: 1.06rem;
    background-color: rgb(233, 233, 233);
    border-radius: 0.62em;
}

.nuestrosProductos2{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding-top: 6.25em;
}

.Comunidad{
    font-family: Arial, Helvetica, sans-serif;
    width: 25%;
    padding-left: 0.62em;
    font-size: 1.06rem;
    background-color: rgb(233, 233, 233);
    border-radius: 0.62em;
}

.RedesAds{
    font-family: Arial, Helvetica, sans-serif;
    width: 25%;
    padding-left: 0.62em;
    font-size: 1.06rem;
    background-color: rgb(233, 233, 233);
    border-radius: 0.62em;
}

.Chatbot{
    font-family: Arial, Helvetica, sans-serif;
    width: 25%;
    padding-left: 0.62em;
    font-size: 1.06rem;
    background-color: rgb(233, 233, 233);
    border-radius: 0.62em;
}

.nuestrosProductos3{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding-top: 6.25em;
    padding-bottom: 12.5em;
}

.AgenciaSEO{
    font-family: Arial, Helvetica, sans-serif;
    width: 25%;
    padding-left: 0.62em;
    font-size: 1.06rem;
    background-color: rgb(233, 233, 233);
    border-radius: 0.62em;
}

.GoogleAds{
    font-family: Arial, Helvetica, sans-serif;
    width: 25%;
    padding-left: 0.62em;
    font-size: 1.06rem;
    background-color: rgb(233, 233, 233);
    border-radius: 0.62em;
}

.SocialShopping{
    font-family: Arial, Helvetica, sans-serif;
    width: 25%;
    padding-left: 0.62em;
    font-size: 1.06rem;
    background-color: rgb(233, 233, 233);
    border-radius: 0.62em;
}

.Contenedor-portfolio{
    background-color: rgb(51, 51, 51);
    padding-top: 90px;
}

.titulo-Portfolio{
    color: rgb(255, 223, 62);
}

.Header-portfolio{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 40px;
    text-align: center;
    padding-bottom: 300px;
}

.footer-distributed{
	background: #444;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 60px 40px;
	overflow: hidden;
}

/* Footer left */

.footer-distributed .footer-left{
	float: left;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 0 10px;
    color: rgb(255, 223, 62);
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/* The contact form */

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}

@media (max-width: 1200px){
    .cont-inicio{
        display: flex;
        background-color:#FFDF3E!important;
        gap: 1.87em;
        width: 100%;
        height: 7.5em;
        font-size: 1.10em;
    }

    .imagen-logo{
        height: 80px;
    }

    header{
        padding-top: 3.12rem;
        padding-right: 1.87rem;
        padding-bottom: 3.75rem;
        padding-left: 9.37rem;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 7mm;
    }
    
    .Contenedor-queOfrecemos{
        font-size: 4mm;
    }

    .Contendor-nuestrosProductos{
        font-size: 1mm;
    }

}

@media (max-width: 768px){
    .cont-inicio{
        display: flex;
        background-color:#FFDF3E!important;
        gap: 1.87em;
        width: 100%;
        height: 7.5em;
        font-size: 1em;
    }

    .imagen-logo{
        height: 60px;
    }

    header{
        padding-top: 3.12rem;
        padding-right: 1.87rem;
        padding-bottom: 3.75rem;
        padding-left: 9.37rem;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 5mm;
    }
    
    .Contenedor-queOfrecemos{
        font-size: 3mm;
    }

    .nuestrosProductos1{
        display: flex;
        justify-content: center;
        justify-content: space-around;
        padding-top: 6.25em;
    }

    .Apps{
        font-family: Arial, Helvetica, sans-serif;
        width: 20%;
        padding-left: 0.62em;
        font-size: 1.00rem;
        background-color: rgb(233, 233, 233);
        border-radius: 0.62em;
    }

    .SitioWeb{
        font-family: Arial, Helvetica, sans-serif;
        width: 20%;
        padding-left: 0.62em;
        font-size: 1.00rem;
        background-color: rgb(233, 233, 233);
        border-radius: 0.62em;
    }

    .E-Commerce{
        font-family: Arial, Helvetica, sans-serif;
        width: 20%;
        padding-left: 0.62em;
        font-size: 1.00rem;
        background-color: rgb(233, 233, 233);
        border-radius: 0.62em;
    }

    .Comunidad{
        font-family: Arial, Helvetica, sans-serif;
        width: 20%;
        padding-left: 0.62em;
        font-size: 1.00rem;
        background-color: rgb(233, 233, 233);
        border-radius: 0.62em;
    }

    .RedesAds{
        font-family: Arial, Helvetica, sans-serif;
        width: 20%;
        padding-left: 0.62em;
        font-size: 1.00rem;
        background-color: rgb(233, 233, 233);
        border-radius: 0.62em;
    }
    
    .Chatbot{
        font-family: Arial, Helvetica, sans-serif;
        width: 20%;
        padding-left: 0.62em;
        font-size: 1.00rem;
        background-color: rgb(233, 233, 233);
        border-radius: 0.62em;
    }

    .AgenciaSEO{
        font-family: Arial, Helvetica, sans-serif;
        width: 20%;
        padding-left: 0.62em;
        font-size: 1.00rem;
        background-color: rgb(233, 233, 233);
        border-radius: 0.62em;
    }

    .GoogleAds{
        font-family: Arial, Helvetica, sans-serif;
        width: 20%;
        padding-left: 0.62em;
        font-size: 1.00rem;
        background-color: rgb(233, 233, 233);
        border-radius: 0.62em;
    }

    .SocialShopping{
        font-family: Arial, Helvetica, sans-serif;
        width: 20%;
        padding-left: 0.62em;
        font-size: 1.00rem;
        background-color: rgb(233, 233, 233);
        border-radius: 0.62em;
    }
}

@media (max-width: 576px){
    .cont-inicio{
        display: flex;
        background-color:#FFDF3E!important;
        gap: 1.87em;
        width: 100%;
        height: 7.5em;
        font-size: 0.70em;
    }

    .enlances{
        color: black;
        flex-direction: initial;
        border-left: solid #FFDF3E 2rem;
    }

    .imagen-logo{
        height: 30px;
    }

    .Header-sofware{
        font-size: 3mm;
        padding-top: 6.25em;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    header{
        padding-top: 3.12rem;
        padding-right: 1.87rem;
        padding-bottom: 3.75rem;
        padding-left: 9.37rem;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3mm;
    }
    
    .Contenedor-queOfrecemos{
        font-size: 3mm;
    }


    .Header-agencia{
        font-size: 3mm;
    }

    .nuestrosProductos1{
        display: flex;
        justify-content: center;
        justify-content: space-around;
        padding-top: 6.25em;
    }

    .Apps{
        font-family: Arial, Helvetica, sans-serif;
        width: 20%;
        height: 20%;
        padding-left: 0.62em;
        font-size: 0.80rem;
        background-color: rgb(233, 233, 233);
        border-radius: 0.62em;
    }

    .SitioWeb{
        font-family: Arial, Helvetica, sans-serif;
        width: 20%;
        height: 20%;
        padding-left: 0.62em;
        font-size: 0.80rem;
        background-color: rgb(233, 233, 233);
        border-radius: 0.62em;
    }

    .E-Commerce{
        font-family: Arial, Helvetica, sans-serif;
        width: 20%;
        height: 20%;
        padding-left: 0.62em;
        font-size: 0.80rem;
        background-color: rgb(233, 233, 233);
        border-radius: 0.62em;
    }

    .Comunidad{
        font-family: Arial, Helvetica, sans-serif;
        width: 20%;
        height: 20%;
        padding-left: 0.62em;
        font-size: 0.80rem;
        background-color: rgb(233, 233, 233);
        border-radius: 0.62em;
    }

    .RedesAds{
        font-family: Arial, Helvetica, sans-serif;
        width: 20%;
        height: 20%;
        padding-left: 0.62em;
        font-size: 0.80rem;
        background-color: rgb(233, 233, 233);
        border-radius: 0.62em;
    }
    
    .Chatbot{
        font-family: Arial, Helvetica, sans-serif;
        width: 20%;
        height: 20%;
        padding-left: 0.62em;
        font-size: 0.80rem;
        background-color: rgb(233, 233, 233);
        border-radius: 0.62em;
    }

    .AgenciaSEO{
        font-family: Arial, Helvetica, sans-serif;
        width: 20%;
        height: 20%;
        padding-left: 0.62em;
        font-size: 0.80rem;
        background-color: rgb(233, 233, 233);
        border-radius: 0.62em;
    }

    .GoogleAds{
        font-family: Arial, Helvetica, sans-serif;
        width: 20%;
        height: 20%;
        padding-left: 0.62em;
        font-size: 0.80rem;
        background-color: rgb(233, 233, 233);
        border-radius: 0.62em;
    }

    .SocialShopping{
        font-family: Arial, Helvetica, sans-serif;
        width: 20%;
        height: 20%;
        padding-left: 0.62em;
        font-size: 0.80rem;
        background-color: rgb(233, 233, 233);
        border-radius: 0.62em;
    }

    .Header-portfolio{
        font-size: 20mm;
    }
}
